.top-bar {
    position: relative;
    z-index: 10;
    color: white;
    h1, h2, h3, h4, h5, h6 {
        margin-bottom: 0;
    }
    a.topbar-logo {
        box-sizing: border-box;
        padding: 10px 0;
        height: 60px;
        width: auto;
        svg {
            height: 40px;
            width: 40px;
            .cls-1 {
                -moz-transition: fill 0.2s ease;
                -o-transition: fill 0.2s ease;
                -webkit-transition: fill 0.2s ease;
                transition: fill 0.2s ease;
            }
            &:hover {
                .cls-1 {
                    fill: $white !important;
                }
            }
            &.show-for-small-only {
                width: 45px;
            }
        }
    }
    .navicon:hover {
        color: $white;
    }
    .navicon {
        color: white;
        -moz-transition: color 0.2s ease;
        -o-transition: color 0.2s ease;
        -webkit-transition: color 0.2s ease;
        transition: color 0.2s ease;
        display: inline-block;
        font-size: 2rem;
        img {
            max-height: 1.8rem;
            margin-top: -0.34rem;
        }
        .icon-label{
            /*
            display: inline;
            font-family: AvenirLT-Black;
            font-size: 0.8rem;
            position: relative;
            top: -7px;
            padding: 0 0.5rem;
            text-transform: uppercase;
            letter-spacing: 1px;
            */
        }
    }
    div.row {
        width: 100%;
        max-width: 100%;
    }
    ul.dropdown {
        background-color: transparent;
        text-align: center;
        li {
            text-align: center;
        }
        a {
            display: inline-block;
            color: white;
            padding-right: 1rem !important;
            margin-right: 0;
            font-size: 2rem;
        }
        ul.menu {
            border: none;
            a {
                font-size: 1rem;
                -o-transition: color 0.2s ease;
                -moz-transition: color 0.2s ease;
                -webkit-transition: color 0.2s ease;
                transition: color 0.2s ease;
            }
            a:hover {
                color: $white;
            }
        }
        
    }
    .dropdown.menu > li.is-dropdown-submenu-parent > a::after {
        display: none;
    }
}
